body{
	display: flex;
    justify-content: center;
	background-image:url(img/background.jpg);
}

li {
    background-color: #606060;
    width: 5vh;
    height: 5vh;
    border-radius: 15%;
    border: 0.05vh solid #606060;
	margin: 0.1vw;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
	width:100%;
}

#verif ul {
	justify-content: space-around;
	align-items: center;
	flex-flow: row wrap;
}

#verif li {
	width: 2.5vh;
	height: 2.5vh;
}

#name{
	text-align:center;
	font-size: 10vh;
}

#solusJeuChoix{
	display: flex;
	flex-direction: column;
}

#solution{
	display: flex;
	width: 40vw;
	margin: auto;
	background-color:rgba(201, 201, 201, 0.5);
}

#tabSolus{
	width: 29.9vw;
    /*height: 6vh;*/
	/*background-color:#c0c0c0;
	border: 0.05vh solid #000;*/
}

#jeu{/*plateu + verif*/
    display: flex;
    flex-direction: row;
		background-color:rgba(201, 201, 201, 0.5);
		width: 40vw;
    height: 75vh;
		margin: auto;
		border-top:  0.05vh solid #000;
}

#plateau{
		display: flex;
		flex-direction: column-reverse;
    justify-content: space-around;
		width: 30vw;
    /*height: 100%;*/
	/*border: 0.05vh solid #000;*/
}

#verif{
	display: flex;
	flex-direction: column-reverse;
    justify-content: space-around;
	width: 10vw;
    /*height: 100%;*/
	/*border: 0.05vh solid #000;*/
}

#choix{/*color et submit*/
	display: flex;
    flex-direction: row;
    justify-content: center;
    height: 6vh;
}

#color {
    display: flex;
	width: 25vw;
}

#submit{
    width: 5vw;
    height: 5vh;
}
#deLog{
    width: 5vw;
}

#indice{
	background: none;
	border: none;
		text-align:center;
		font-size: 5vh;
}

.c1{
	background-color:#FF0000;
    border: 0.05vh solid #FF0000;
}
.c2{
	background-color:#00FF00;
    border: 0.05vh solid #00FF00;
}
.c3{
	background-color:#0000FF;
    border: 0.05vh solid #0000FF;
}
.c4{
	background-color:#FFFF00;
    border: 0.05vh solid #FFFF00;
}
.c5{
	background-color:#00FFFF;
    border: 0.05vh solid #00FFFF;
}
.c6{
	background-color:#123456;
    border: 0.05vh solid #123456;
}
.c7{
	background-color:#654321;
    border: 0.05vh solid #654321;
}
.c8{
	background-color:#456789;
    border: 0.05vh solid #456789;
}
.c-1{
	background-color:#FFF;
    border: 0.05vh solid #FFF;
}
.c-2{
	background-color:#000;
    border: 0.05vh solid #000;
}
